package-lock.json
pnpm-lock.yaml
yarn.lock
tsconfig.json
tsconfig.tsbuildinfo
tsconfig.tsbuildinfo.d.tsbuildinfo
tsconfig.tsbuildinfo.tsbuildinfo
tsconfig.tsbuildinfo.tsbuildinfo.d.tsbuildinfo

node_modules
dist
coverage
.vscode
.vscode-test
build